<form method="post" hx-post="{% url 'your_form_submission_view' %}">
    {% csrf_token %}
    <div x-data="{}">
        {{ form.fuel }}
        <input type="hidden" name="selected_fuel" x-model="selectedFuel">
    </div>
    <div>
        <label>Make</label>
        {{ form.make }}
    </div>
    <div>
        <label>Model</label>
        {{ form.model }}
    </div>
    <button type="submit">Submit</button>

    <script src="path/to/alpine.js"></script>
</form>


class YourModelForm(forms.ModelForm):
    class Meta:
        model = YourModel
        fields = ['make', 'fuel', 'model']
        widgets = {
            'fuel': forms.RadioSelect(attrs={'x-data': '{"selectedFuel": null}', 'x-on:click': 'selectedFuel = $event.target.value'}),
        }
