<form method="post" hx-post="{% url 'your_form_submission_view' %}">
    {% csrf_token %}
    <div x-data="{}">
        {{ form.fuel }}
        <input type="hidden" name="selected_fuel" x-model="selectedFuel">
    </div>
    <div>
        <label>Make</label>
        {{ form.make }}
    </div>
    <div>
        <label>Model</label>
        {{ form.model }}
    </div>
    <button type="submit">Submit</button>

    <script src="path/to/alpine.js"></script>
</form>


class YourModelForm(forms.ModelForm):
    class Meta:
        model = YourModel
        fields = ['make', 'fuel', 'model']
        widgets = {
            'fuel': forms.RadioSelect(attrs={'x-data': '{"selectedFuel": null}', 'x-on:click': 'selectedFuel = $event.target.value'}),
        }

<!-- your_template.html -->
<form method="post" hx-post="{% url 'your_form_submission_view' %}" hx-headers="{ 'X-CSRFToken': '{{ csrf_token }}' }">
    {% csrf_token %}
    <div x-data="{ selectedFuel: '{{ form.initial.fuel }}' }">
        {{ form.fuel }}
        <input type="hidden" name="selected_fuel" x-model="selectedFuel">
    </div>
    <div>
        <label>Make</label>
        {{ form.make }}
    </div>
    <div>
        <label>Model</label>
        {{ form.model }}
    </div>
    <button type="button" x-on:click="submitForm">Submit</button>

    <script src="path/to/alpine.js"></script>
</form>


<script>
    function submitForm() {
        var selectedValue = Alpine.data['your-alpine-data-id'].selectedFuel;
        console.log("Selected Fuel:", selectedValue);

        // Perform your HTMX request with the selectedValue
        // For example, you might want to submit the form asynchronously using HTMX here.
        // You can customize this part based on your specific use case.
    }
</script>


      <div 
      hx-trigger="click delay:100ms"
      hx-get="{% url 'projects:test_view' %}"
      hx-target="#dignes"
      hx-include="[name='htmx_input']">

        <h1>Test</h1>
        {% bootstrap_field form.ground_test %}
        <input type="hidden" name="htmx_input">

      </div>
      <div id="dignes"></div>

      <script>
        $(document).ready(function() {
          // Global click event listener
          $(document).on('click', function() {
            // Get the value of the currently checked radio button in the group
            var selectedValue = $('input[type="radio"][name="ground_test"]:checked').val();
            console.log(selectedValue); // Log the selected value
            $('input[name="htmx_input"]').val(selectedValue);            // Update the hx-params attribute of the HTMX element
          });
        });
      </script>
      
      

